

######################

services:
  catalogue:
    # build:
      # context: ./catalogue
      # dockerfile: Dockerfile
    # image: joindevops/catalogue:v1
    image: catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
    build: ./mongodb
    image: joindevops/mongodb:v1
    image: mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db  #   /data/db this is path to store the data if u want to check in HUB give -v
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data #   /data this is path to store the data if u want to check in HUB give -v
  mysql:
    build: ./mysql
    image: joindevops/mysql:v1
    image: mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql #  /var/lib/mysql  this is path to store the data if u want to check in HUB give -v
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes: # -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq  #  /var/lib/rabbitmq  this is path to store the data if u want to check in HUB give -v
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user
    image: joindevops/user:v1
    image: user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart:
    build: ./cart
    image: joindevops/cart:v1
    image: cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    build: ./shipping
    image: joindevops/shipping:v1
    image: shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: joindevops/payment:v1
    image: payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./frontend
    image: joindevops/frontend:v1
    image: frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if you have created network manually using docker network command
volumes:
  mongodb: # docker volume create mongodb. path is /var/lib/docker/volumes
  redis:
  mysql:
  rabbitmq: